root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,ts,jsx,tsx,cjs}]
charset = utf-8
indent_style = space
indent_size = 4

[*.{json,md,yml}]
indent_style = space
indent_size = 4

[*.{css, html}]
charset = utf-8
indent_style = space
indent_size = 4
